/*@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);*/

nav {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    /*display: flex;*/
}

th {
    cursor: pointer;
}


.responsive {
    width: 100%;
    height: auto;
}

a.question:hover, a.question:active {
    font-size: 150%;
}

.farba {
    color: black;
}

.nadpisH1 {
    /*position: center;*/
    margin: 20px;
    /*color: black;*/
    font-style: italic;
}

.ital {
    font-style: italic;
}

.popisObchodu {
    margin: 20px;
    font-size: large;
    font-weight: bolder;
    font-style: oblique;
    /*position: relative;*/
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.auta {
    margin: 10px;
}

.margin {
    margin: 10px;
}

.listOfCars {
    margin: 10px;
}

.otoc {
    transform: scaleX(-1);
}

.btn {
    /*float: right;*/
    margin: 5px;
}

.buttonLeft {
    float: left;
}

.bg-dark {
    background-color: #333;
}

.not-underline {
    text-decoration: none;
}

.kontainer {
    margin: 20px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.button {
    background-color: #4CAF50; /* Green */
    border-radius: 12px;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    width: auto;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button1:hover {
    background-color: #555555;
    color: white;
}


.main-content{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    margin: 5em auto;
    display: flex;
}
.company__info{
    background-color: #161c1c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.fa-android{
    font-size:3em;
}
@media screen and (max-width: 640px) {
    .main-content{width: 90%;}
    .company__info{
        display: none;
    }
    .login_form{
        border-top-left-radius:20px;
        border-bottom-left-radius:20px;
    }
}
@media screen and (min-width: 642px) and (max-width:800px){
    .main-content{width: 70%;}
}
.row > h2{
    color:#161c1c;
}
.login_form{
    background-color: #fff;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
}
form{
    padding: 0 2em;
}
.form__input{
    width: 100%;
    border:0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em;
    padding-left: 2em;
    outline:none;
    margin:1.5em auto;
    transition: all .5s ease;
}
.form__input:focus{
    border-bottom-color: #161c1c;
    box-shadow: 0 0 5px rgba(0,80,80,.4);
    border-radius: 4px;
}
.login_btn{
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color: #161c1c;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #161c1c;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.login_btn:hover, .login_btn:focus{
    background-color: #161c1c;
    color:#fff;
}

.tabulka{
    color: #ffffff;
    border-collapse:collapse;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    text-align:center;
    max-width: 100%;
    margin: auto;
    height: auto;
}

.tabulka th{
    background-color: rgba(21, 19, 19, 0.85);;
}

.tabulka td, .tabulka th {
    font-size:1em;
    border:1px solid #000000;
    text-align:center;
    width: 16%;
    height: 10%;
    padding:0.5% 1% 0.5% 1%;
}

.tabulka td {
    background-color: rgba(230, 241, 222, 0.9);
    color: #000000;
}

.tabulka tr:hover td {
    background-color: rgba(245, 194, 179, 0.32);
}

.kurzor{
    cursor: pointer;
}

.centrovat {
    text-align: center;
}

.tlacidla{
    border: none;
    width:20px;
    height: 20px;
}

.deleteIcon{
    width:20px;
    height:20px;
}

.reg_uspesna{
    color: #1f1e19;
    padding: 20px;
    text-align: center;
}

/*
.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

}*/
